<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col">
      <h1>Novo Usuario</h1>
    </div>
    <div class="col text-end">
      <%= link_to "Voltar", admin_usuarios_path, class: "btn btn-dark" %>
    </div>
  </div>
  <%= render "form", usuario: @usuario, url: admin_usuarios_path %>
</div>
