<div id="<%= dom_id pasta %>">
  <p>
    <strong>Nome:</strong>
    <%= pasta.nome %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= pasta.link %>
  </p>

  <p>
    <strong>Origem:</strong>
    <%= pasta.origem_id %>
  </p>

</div>
