<p style="color: green"><%= notice %></p>

<h1>Pastas</h1>

<div id="pastas">
  <% @pastas.each do |pasta| %>
    <%= render pasta %>
    <p>
      <%= link_to "Show this pasta", pasta %>
    </p>
  <% end %>
</div>

<%= link_to "New pasta", new_pasta_path %>
