<%= render "admin/shared/novos_arquivos" %>
<div class="section-title">
  <h2>Arquivos</h2>
</div>
<div class="container">
  <div class="row">
    <% @pastas.each do |pasta| %>
      <div class="col-md-2 mb-3">
        <% if pasta.link.present? %>
          <a href="<%= pasta.link %>" target="_blank">
          <% else %>
            <a href="/admin/pastas/<%= pasta.id %>">
            <% end %>
            <div class="info-box">
              <i class="bx bx-folder"></i>
              <p><%= pasta.nome %></p>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
