 <style>
  body{background-color: #075e54;}
  .login{background-color: #fff;margin: 100px auto; max-width: 476px;padding: 10px}
</style>
<div class="login">
  <div class="mb-4 text-center">
    <h4>Para entrar no sistema, digite seu número de telefone</h4>
  </div>
  <%= form_for("login", { role: "form" }) do |f| %>
    <div class="mb-3">
      <%= f.label :telefone, class: "form-label" %>
      <%= f.text_field :telefone, class:"form-control", placeholder: "(00) 90000-0000", required: true %>
    </div>
    <%= f.submit 'Entrar', class: "btn btn-light mt-3 w-100" %>
  <% end %>
</div>
<script>
  $(document).ready(function () {
    $('#login_telefone').mask('(00) 00000-0000');
  })
</script>
